*,*::before,*::after{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
padding: 0;
margin: 0;
background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
;
}